body {
    background-color: rgb(10, 46, 70);
}

.outer {
   height: 200px;
   width: 200px;
   background-color: rgb(242, 245, 247);
   position: relative;
   z-index: 10;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
}

.square {
    position: relative;
    height: 33.33%;
    width: 33.33%;
    border: 2px white solid;
    z-index: 20;
    box-sizing: border-box;
}

.square>.circle {
    border: 1px  solid black;
    border-radius: 50%;
    height: 50%;
    width: 50%;
    position: absolute;
    z-index: 30;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.red { 
    background-color: red;
}

.yellow {
    background-color: yellow;
    
}

.purple {
    background-color: purple;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.gray {
    background-color: gray;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}

